body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #111;
  color: #fff;
}

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background: #000;
  position: sticky;
  top: 0;
  z-index: 1000;
}
header h2 {
  color: cyan;
  font-weight: bold;
}
nav a {
  margin: 0 15px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: color 0.3s;
}
nav a:hover {
  color: cyan;
}

/* PROJECT SECTION */
.project {
  max-width: 1100px;
  margin: 0 auto;
  text-align: center;
}

/* PROJECT CARD */
.project-single {
  background: #1a1a1a;
  padding: 25px;
  margin: 40px auto;
  border-radius: 20px;
  width: 90%;
  max-width: 650px;
  box-shadow: 0 0 20px rgba(0,255,255,0.15);
  transition: transform 0.3s, box-shadow 0.3s;
}

.project-single:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 25px rgba(0,255,255,0.3);
}

/* FIXED IMAGE SIZE */
.pica,
.project-single img {
  width: 100%;
  max-width: 550px;
  height: 300px;
  object-fit: cover;
  margin: 0 auto;
  display: block;

  border-radius: 20px;
  border: 2px solid cyan;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
}

/* IMAGE HOVER EFFECT */
.pica:hover,
.project-single img:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px cyan;
}

/* BUTTON */
.btn {
  background: cyan;
  color: black;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: all 0.3s;
  display: inline-block;
  margin-top: 10px;
}

.btn:hover {
  background: rgb(4, 97, 125);
  color: rgb(1, 45, 70);
  padding: 15px 25px;
}

/* FOOTER */
footer {
  background: cyan;
  color: black;
  text-align: center;
  padding: 15px;
  font-weight: bold;
}
.dada{ 
  margin:40px;
}